.inline-input {
  display: inline-block;
  position: relative;
}

label {
  color: rgb(160, 160, 160);
  font-size: 15px;
  text-transform: capitalize;
}

.username {
  color: #007bff;
  font-weight: 600;
}

.exe {
  color: #28a745;
  font-weight: 600;
}

.name {
  font-weight: 300;
  font-size: 22px;
}

.text-editor {
  width: 100%;
  border-radius: 4px;
}

.markdown {
  max-height: 500px;
  overflow-y: scroll;
  margin-left: 4px;
}

.searchResults {
  position: absolute;
  top: 30;
  z-index: 100 !important;
  background-color: white;
  width: 100%;
  min-width: 300px;
  border-left: 1px solid rgb(200, 200, 200);
  border-right: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.searchResults ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.searchResults ul .list-section-header {
  font-size: 15px;
  background-color: rgb(200, 200, 200);
  padding-left: 5px;
}

.searchResults ul .list-section-item {
  font-size: 20px;
  padding: 5px;
}

.searchResults ul .list-section-item:hover {
  font-size: 20px;
  padding: 5px;
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}