<div 
  class="step card" 
  [ngClass]="{'editing' : isEditing(), 'inset-border': border}">
  <div class="card-body">
    <div class="action-buttons">
      <button class="btn-sm btn-outline-primary" *ngIf="isHidden()" (click)="triggerShow()">show</button>
      <button class="btn-sm btn-outline-primary" *ngIf="!isHidden()" (click)="triggerShow()">hide</button>
      <button class="btn-sm btn-outline-secondary"  *ngIf="isEditing()" (click)="save()">save</button>
      <button class="btn-sm btn-outline-danger"  *ngIf="isEditing()" (click)="cancelEdit()">cancel</button>
      <button class="btn-sm btn-outline-secondary" *ngIf="!isEditing()" (click)="triggerEdit()">edit</button>
      <button class="btn-sm btn-outline-success" (click)="triggerRunning()">run</button>
    </div>
    <header [data]="data" [editing]="isEditing()" (emitUpdateData)="receiveUpdateData($event)"></header>
    <div *ngIf="data.exe == 'function'">
      <div *ngIf="!isHidden() || isEditing()">
        <hidden-header [data]="data" [editing]="isEditing()"></hidden-header>
  
        <div class="inline-input"> 
          <label *ngIf="isEditing() || (!isEditing() && !isEmpty(data.command))">Command</label>
          <input 
            class="form-control"
            size="{{inputSize('command')}}"
            *ngIf="isEditing()" 
            type="text" 
            [(ngModel)]="data.command"
            [ngModelOptions]="{debounce: 500}"
            placeholder="command">
          <p *ngIf="!isEditing()">{{data.command}}</p>
        </div>
  
        <div class="inline-input">
          <label *ngIf="isEditing() || (!isEditing() && !isEmpty(data.args))">Args</label>
          <input 
            class="form-control"
            size="{{inputSize('args')}}"
            *ngIf="isEditing()" 
            type="text" 
            [(ngModel)]="data.args"
            [ngModelOptions]="{debounce: 500}"
            placeholder="args">
          <p *ngIf="!isEditing()">{{data.args}}</p>
        </div>
  
        <div *ngIf="isEditing()" class="text-editor" ace-editor
          [(text)]="data.text"
          [mode]="data.command || 'mysql'" 
          [theme]="'eclipse'"
          [options]="options"
          [readOnly]="false"
          [autoUpdateContent]="true" 
          [durationBeforeCallback]="500"></div>
        <div class="markdown" *ngIf="!isEditing()">
          <ngx-md [data]="getCodeMarkdown(data.command, data.text)" ></ngx-md>
        </div>
      </div>
    </div>
  
    <div *ngIf="data.exe == 'query'">
      <div *ngIf="!isHidden() || isEditing()">
        <hidden-header [data]="data" [editing]="isEditing()"></hidden-header>
        <div *ngIf="isEditing()" class="text-editor" ace-editor
          [(text)]="data.text"
          [mode]="data.command || 'mysql'" 
          [theme]="'eclipse'"
          [options]="options"
          [readOnly]="false"
          [autoUpdateContent]="true" 
          [durationBeforeCallback]="500"></div>
        <div class="markdown" *ngIf="!isEditing()">
          <ngx-md [data]="getCodeMarkdown(data.command, data.text)" ></ngx-md>
        </div>
      </div>
    </div>

    <div *ngIf="data.exe == 'graph'">
      <div *ngIf="!isHidden() || isEditing()">
        <hidden-header [data]="data" [editing]="isEditing()"></hidden-header>
      </div>
  
      <label class="nested-title">Nodes</label>
      <div *ngFor="let node of data.graph.nodes; let i = index;">
        <nested-input 
          [data]="node" 
          [editing]="editing"
          (emitEditing)="receiveEmitEditing($event)"
          (emitRunning)="receiveEmitRunning($event)"
          [(hidden)]="hidden"></nested-input>
      </div>
    </div>
  </div>
</div>

  
