.DS_Store
.vscode

# DEPENDENCIES
node_modules

# OUT DIR
dist

# TEST OUTPUT
**/coverage

# LOG FILES
**/*.log

# IAM
iam

public/node_modules
public/dist

notes
designs

kubernetes/secrets
images/base/deploy.tgz
images/dashboard/src


