.DS_Store
.vscode
.idea

# DEPENDENCIES
node_modules

# OUT DIR
dist

# TEST OUTPUT
**/coverage

# LOG FILES
**/*.log

# IAM
tmp

apps/dashboard/node_modules
apps/dashboard/dist

notes
designs
database
local

kubernetes/secrets
images/base/deploy.tgz
images/client/src

yarn.lock

kubernetes/apps/minikube

