<div class="inline-input">
  <label *ngIf="editing || (!editing && !isEmpty(data.visibility))">Visibility</label>
  <div *ngIf="editing">
    <select class="form-control" [(ngModel)]="data.visibility">
      <option>auth</option>
      <option>private</option>
      <option>public</option>
    </select>
  </div>
  <p *ngIf="!editing">{{data.visibility}}</p>
</div>

<div class="inline-input">
  <label *ngIf="editing || (!editing && !isEmpty(data.input))">Input</label>
  <input 
    class="form-control"
    size="{{inputSize('input')}}"
    *ngIf="editing" 
    type="text" 
    [(ngModel)]="data.input"
    [ngModelOptions]="{debounce: 500}"
    placeholder="input">
  <p *ngIf="!editing">{{data.input}}</p>
</div>

<div class="inline-input">
  <label *ngIf="editing || (!editing && !isEmpty(data.output))">Output</label>
  <input 
    class="form-control"
    size="{{inputSize('output')}}"
    *ngIf="editing" 
    type="text" 
    [(ngModel)]="data.output"
    [ngModelOptions]="{debounce: 500}"
    placeholder="output">
  <p *ngIf="!editing">{{data.output}}</p>
</div>