.inline-input {
  display: inline-block;
  margin-right: 4px;
}

.inline-input input {
  border: none !important;
  border-color: transparent !important;
  font-family: "Lucida Console", Monaco, monospace;
}

label {
  color: rgb(160, 160, 160);
  font-size: 15px;
  text-transform: capitalize;
}