server { # simple reverse-proxy
  listen 80;

  access_log /var/log/nginx/reverse-access.log;
  error_log /var/log/nginx/reverse-error.log;

  fastcgi_read_timeout 999999;
  proxy_read_timeout 999999;

  location / {
    proxy_pass http://${IAM_KUBE_HOST}:${IAM_KUBE_PORT};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }
}
