<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <div *ngIf="router.url != '/login'" class="group-left">
    <p>iam {{getUser()}}</p>
      <!-- <button routerLink="/home" type="button" class="btn button-bottom"><i class="fa fa-home"></i></button> -->
      <!-- <button routerLink="/admin" type="button" class="btn btn-primary button-bottom">Admin</button>
      <button routerLink="/marketplace" type="button" class="btn btn-primary button-bottom">Marketplace</button> -->
  </div>
  <div class="group-right" *ngIf="iam.getUser() !== undefined">
    <button (click)="home()" type="button" class="btn button-bottom"><i class="fa fa-home"></i></button>
    <button (click)="settings()" type="button" class="btn button-bottom"><i class="fa fa-cog"></i></button>
    <button (click)="logout()" type="button" class="btn button-bottom"><i class="fa fa-sign-out"></i></button>
  </div>
</div>
<router-outlet *ngIf="iam.getUser() || router.url == '/login'"></router-outlet>