.header {
  width: 100%;
  height: 64px;
  background-color: #24292e;
  position: relative;
}

.header .group-left {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 16px;
  color: white;
  font-size: 2em;
}

.header .group-right {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 16px;
}

i {
  color: white;
  font-size: 2em;
}