.new-executable {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
}

.new-executable-dialog {
  margin-top: 32px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.action-buttons button {
  margin-right: 4px;
}