<div class="new-executable">
  <div class="new-executable-dialog card">
    <div class="card-body">
      <h5 class="card-title">New {{type}}</h5>
      <div class="form-group">
        <label>Name</label>
        <input 
          class="form-control"
          type="text" 
          [(ngModel)]="data.name"
          placeholder="Name">
      </div>

      <div class="action-buttons">
        <button class="btn btn-success" (click)="done()" [disabled]="data.name == undefined || data.name == ''">Create</button>
        <button class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
