<div class="card">
  <div class="card-title">
    <div class="inline-input exe">
      [secret]
    </div>
    <div class="inline-input username">
      {{data.username}}
    </div>
    <div class="inline-input name">
      .{{data.name}}
    </div>
  </div>

  <div class="card-body">
    <div>
      <label class="nested-title" *ngIf="editing || (data.description && data.description != '')">Description</label>
      <div *ngIf="editing" class="text-editor" ace-editor
        [(text)]="data.description"
        [mode]="'markdown'" 
        [theme]="'eclipse'"
        [options]="options"
        [readOnly]="false"
        [autoUpdateContent]="true" 
        [durationBeforeCallback]="500"></div>
      <div class="markdown"  *ngIf="!editing && data.description && data.description != ''">
        <ngx-md [data]="data.description" ></ngx-md>
      </div>
    </div>
    
    <div>
      <label class="nested-title">Value</label>
      <input 
        class="form-control"
        size="{{inputSize('value')}}"
        *ngIf="editing" 
        type="text" 
        [(ngModel)]="data.value"
        placeholder="Value">
      <p *ngIf="!editing">*******</p>
    </div>
  </div>

  <div class="action-buttons">
    <button class="btn-sm btn-secondary"  *ngIf="editing" (click)="save()">save</button>
    <button class="btn-sm btn-danger"  *ngIf="editing" (click)="cancelEdit()">cancel</button>
    <button class="btn-sm btn-secondary" *ngIf="!editing" (click)="triggerEdit()">edit</button>
  </div>
</div>