.inline-input {
  display: inline-block;
}

label {
  color: rgb(160, 160, 160);
  font-size: 15px;
  text-transform: capitalize;
}

.username {
  color: #007bff;
  font-weight: 600;
}

.exe {
  color: #28a745;
  font-weight: 600;
}

.name {
  font-weight: 300;
  font-size: 22px;
}

.text-editor {
  width: 100%;
  border-radius: 4px;
}

.markdown {
  max-height: 500px;
  overflow-y: scroll;
  margin-left: 4px;
}