<div class="card">
  <div class="card-title">
    <div class="inline-input exe">
      [environment]
    </div>
    <div class="inline-input username">
      {{data.username}}
    </div>
    <div class="inline-input cluster">
      .{{data.cluster}}
    </div>
    <div class="inline-input name">
      .{{data.name}}
    </div>
  </div>

  <div class="card-body">
    <div>
      <label class="nested-title" *ngIf="editing || (data.description && data.description != '')">Description</label>
      <div *ngIf="editing" class="text-editor" ace-editor
        [(text)]="data.description"
        [mode]="'markdown'" 
        [theme]="'eclipse'"
        [options]="options"
        [readOnly]="false"
        [autoUpdateContent]="true" 
        [durationBeforeCallback]="500"></div>
      <div class="markdown"  *ngIf="!editing && data.description && data.description != ''">
        <ngx-md [data]="data.description" ></ngx-md>
      </div>
    </div>
    <div>
      <label class="nested-title">State</label>
      <p class="environment-state">{{data.state}}</p>
    </div>

    <div>
      <div>
        <label class="nested-title">Service Details</label>
      </div>
  
      <div class="inline-input right-space">
        <label>Service Type</label>
        <div *ngIf="editing">
          <select class="form-control" [(ngModel)]="data.data.serviceType">
            <option>Executor</option>
            <option>Database</option>
            <option>NodePort</option>
            <option>LoadBalancer</option>
          </select>
        </div>
        <p *ngIf="!editing">{{data.data.serviceType}}</p>
      </div>

      <div *ngIf="data.data.serviceType !== 'Executor' && data.data.serviceType !== 'Database'" class="inline-input">
        <label>ApplicationPort</label>
        <input 
          class="form-control"
          size="{{inputSize('nodePort')}}"
          *ngIf="editing" 
          type="text" 
          [(ngModel)]="data.data.applicationPort"
          placeholder="ApplicationPort">
        <p *ngIf="!editing">{{data.data.applicationPort}}</p>
      </div>
  
      <div class="inline-input" *ngIf="data.data.serviceType == 'NodePort'">
        <label>NodePort</label>
        <input 
          class="form-control"
          size="{{inputSize('nodePort')}}"
          *ngIf="editing" 
          type="text" 
          [(ngModel)]="data.data.nodePort"
          placeholder="NodePort">
        <p *ngIf="!editing">{{data.data.nodePort}}</p>
      </div>
    </div>

    <!-- <div class="inline-input right-space">
      <label *ngIf="editing || (!editing && !isEmpty(data.data.type))">Type</label>
      <div *ngIf="editing">
        <select class="form-control" [(ngModel)]="data.data.type">
          <option>executor</option>
          <option>yaml</option>
        </select>
      </div>
      <p *ngIf="!editing">{{data.data.type}}</p>
    </div>

    <div class="inline-input right-space">
      <label *ngIf="editing || (!editing && !isEmpty(data.data.imageRepo))">Image Repo</label>
      <input 
        class="form-control"
        size="{{inputSize('imageRepo')}}"
        *ngIf="editing" 
        type="text" 
        [(ngModel)]="data.data.imageRepo"
        placeholder="imageRepo">
      <p *ngIf="!editing">{{data.data.imageRepo}}</p>
    </div> -->

    <div>
      <label class="nested-title" *ngIf="editing || (!editing && !isEmpty(data.data.imageTag))">ImageTag</label>
      <input 
        class="form-control"
        size="{{inputSize('imageTag')}}"
        *ngIf="editing" 
        type="text" 
        [(ngModel)]="data.data.imageTag"
        placeholder="imageTag">
      <p *ngIf="!editing">{{data.data.imageTag}}</p>
    </div>

    <div>
      <label class="nested-title">Resource Limits</label>
      <div>
        <div *ngIf="data.data.serviceType !== 'Database'" class="inline-input right-space">
          <label *ngIf="editing || (!editing && !isEmpty(data.data.replicas))">Replicas</label>
          <input 
            class="form-control"
            size="{{inputSize('replicas')}}"
            *ngIf="editing" 
            type="text" 
            [(ngModel)]="data.data.replicas"
            placeholder="replicas">
          <p *ngIf="!editing">{{data.data.replicas}}</p>
        </div>
  
        <div class="inline-input right-space">
          <label *ngIf="editing || (!editing && !isEmpty(data.data.cpu))">Cpu</label>
          <input 
            class="form-control"
            size="{{inputSize('cpu')}}"
            *ngIf="editing" 
            type="text" 
            [(ngModel)]="data.data.cpu"
            placeholder="CPU">
          <p *ngIf="!editing">{{data.data.cpu}}</p>
        </div>
  
        <div class="inline-input right-space">
          <label *ngIf="editing || (!editing && !isEmpty(data.data.memory))">Memory</label>
          <input 
            class="form-control"
            size="{{inputSize('memory')}}"
            *ngIf="editing" 
            type="text" 
            [(ngModel)]="data.data.memory"
            placeholder="MEM">
          <p *ngIf="!editing">{{data.data.memory}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="data.data.type == 'yaml'">
      <label class="nested-title" *ngIf="editing || (!editing && !isEmpty(data.kubernetes))">Kubernetes</label>
      <div>
        <button class="btn-sm btn-primary" (click)="applyKubernetes()">apply</button>
      </div>
      <div *ngIf="editing" class="text-editor" ace-editor
        [(text)]="data.kubernetes"
        [mode]="'yaml'" 
        [theme]="'eclipse'"
        [options]="options"
        [readOnly]="false"></div>
      <div class="markdown" *ngIf="!editing">
        <ngx-md [data]="getCodeMarkdown('yaml', data.kubernetes)" ></ngx-md>
      </div>
    </div>

    <div>
      <div>
        <label class="nested-title">Storage Details</label>
      </div>
  
      <div class="inline-input right-space">
        <label>Storage Type</label>
        <div *ngIf="editing">
          <select class="form-control" [(ngModel)]="data.data.storageType">
            <option>None</option>
            <option>Local</option>
            <option>AwsElb</option>
            <option>Ocean</option>
          </select>
        </div>
        <p *ngIf="!editing">{{data.data.storageType}}</p>
      </div>

      <div class="inline-input right-space" *ngIf="data.data.storageType !== 'None'">
        <label>MountPath</label>
        <input 
          class="form-control"
          size="{{inputSize('mountPath')}}"
          *ngIf="editing" 
          type="text" 
          [(ngModel)]="data.data.mountPath"
          placeholder="MountPath">
        <p *ngIf="!editing">{{data.data.mountPath}}</p>
      </div>
  
      <div class="inline-input" *ngIf="data.data.storageType == 'Local'">
        <label>HostPath</label>
        <input 
          class="form-control"
          size="{{inputSize('hostPath')}}"
          *ngIf="editing" 
          type="text" 
          [(ngModel)]="data.data.hostPath"
          placeholder="HostPath">
        <p *ngIf="!editing">{{data.data.hostPath}}</p>
      </div>

      <div class="inline-input" *ngIf="data.data.storageType == 'AwsElb'">
        <label>VolumeId</label>
        <input 
          class="form-control"
          size="{{inputSize('volumeId')}}"
          *ngIf="editing" 
          type="text" 
          [(ngModel)]="data.data.volumeId"
          placeholder="VolumeId">
        <p *ngIf="!editing">{{data.data.volumeId}}</p>
      </div>

      <div class="inline-input" *ngIf="data.data.storageType == 'AwsElb'">
        <label>FsType</label>
        <input 
          class="form-control"
          size="{{inputSize('fsType')}}"
          *ngIf="editing" 
          type="text" 
          [(ngModel)]="data.data.fsType"
          placeholder="FsType">
        <p *ngIf="!editing">{{data.data.fsType}}</p>
      </div>
    </div>

    <div>
      <div>
        <label class="nested-title">Environment Variables</label>
      </div>

      <div *ngIf="data.data.variables && data.data.variables.length > 0">
        <div *ngFor="let variable of data.data.variables; let i = index;">
          <div class="env-variable">
            <div class="inline-input right-space col-w-2">
              <label>Name</label>
              <input 
                class="form-control"
                size="{{inputSize('variableName')}}"
                *ngIf="editing" 
                type="text" 
                [(ngModel)]="variable.name"
                placeholder="Name">
              <p *ngIf="!editing"><strong>{{variable.name}}</strong></p>
            </div>

            <div class="inline-input right-space col-w-2">
              <label>Value</label>
              <input 
                class="form-control"
                size="{{inputSize('variableName')}}"
                *ngIf="editing" 
                type="text" 
                [(ngModel)]="variable.value"
                placeholder="Name">
              <p *ngIf="!editing">{{variable.value}}</p>
            </div>

            <div class="inline-input right-space col-w-1">
              <label>Type</label>
              <div *ngIf="editing">
                <select class="form-control" [(ngModel)]="variable.type">
                  <option>Plaintext</option>
                  <option>Secret</option>
                </select>
              </div>
              <p *ngIf="!editing">{{variable.type}}</p>
            </div>

            <div class="inline-input" *ngIf="editing">
              <button class="btn-sm btn-danger" (click)="deleteEnvironmentVariable(i)">Delete</button>
            </div>
          </div>
        </div>
      </div>
      
    <div>
      <button class="btn btn-outline-success" *ngIf="editing" (click)="addEnvironmentVariable()">Add Variable</button>
    </div>
    </div>
  </div>

  <div class="action-buttons">
    <button class="btn-sm btn-secondary"  *ngIf="editing" (click)="save()">save</button>
    <button class="btn-sm btn-danger"  *ngIf="editing" (click)="cancelEdit()">cancel</button>
    <button class="btn-sm btn-secondary" *ngIf="!editing" (click)="triggerEdit()">edit</button>
    <button class="btn-sm btn-success" (click)="startEnvironment()">start</button>
    <button class="btn-sm btn-danger" (click)="stopEnvironment()">stop</button>
  </div>
  
  <!-- <div *ngIf="data.data.type === 'executor'">
    <div class="resource-list">
      <h3>Functions</h3>
      <p>Functions are pieces of code to run.</p>
      <div class="add-button">
        <button class="btn btn-success" (click)="addResource('function')">Add Function</button>
      </div>
      <div class="resource" *ngFor="let function of functions;">
        <div class="inline-input col1">
          <label>Name</label>
          <p>{{function.name}}</p>
        </div>
        <div class="inline-input col5">
          <button class="btn-sm btn-primary" (click)="selectResource('function', function)"><i class="fa fa-pencil"></i></button>
        </div>
      </div>
    </div>
  
    <div class="resource-list">
      <h3>Queries</h3>
      <p>Queries modify data</p>
      <div class="add-button">
        <button class="btn btn-success" (click)="addResource('query')">Add Query</button>
      </div>
      <div class="resource" *ngFor="let query of queries;">
        <div class="inline-input col1">
          <label>Name</label>
          <p>{{query.name}}</p>
        </div>
        <div class="inline-input col5">
          <button class="btn-sm btn-primary" (click)="selectResource('query', query)"><i class="fa fa-pencil"></i></button>
        </div>
      </div>
    </div>
  
    <div class="resource-list">
      <h3>Graphs</h3>
      <p>Graphs are execution plans of functions and queries.</p>
      <div class="add-button">
        <button class="btn btn-success" (click)="addResource('graph')">Add Graph</button>
      </div>
      <div class="resource" *ngFor="let graph of graphs;">
        <div class="inline-input col1">
          <label>Name</label>
          <p>{{graph.name}}</p>
        </div>
        <div class="inline-input col5">
          <button class="btn-sm btn-primary" (click)="selectResource('graph', graph)"><i class="fa fa-pencil"></i></button>
        </div>
      </div>
    </div>
  </div> -->
</div>

<div *ngIf="newResource">
  <new-resource-modal 
    [type]="newResource"
    [clusterOptions]="[]"
    [environmentOptions]="[]"
    [data]="{environment: data.name, cluster: data.cluster}"
    (newResourceMoalDone)="receiveNewResourceModalDone($event)"
    (newResourceModalCancel)="receiveNewResourceModalCancel()"></new-resource-modal>
</div>