.sidebar {
  background-color: rgb(165, 165, 165);
  padding: 8px;
}

.sidebar-row {
  width: 100%;
  margin-bottom: 4px;
}

.sidebar-row-title {
  font-size: 15px;
}

.selection {
  text-align: left;
  padding: 16px;
}

.selected {
  background-color: rgb(226, 226, 226)
}

.full {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 !important;
}

.list-section {
  overflow-y: scroll;
  height: 100%;
}

.list-item {
  padding: 8px;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  width: 100%;
  margin-top: 8px;
  position: relative;
}

.list-item .description {
  color: rgb(160, 160, 160);
}

.list-item-name {
  width: 200px;
}

.list-item-buttons {
  text-align: right;
  position: absolute;
  left: 200px;
  right: 8px;
  top: 0;
  bottom: 0;
}

.list-item-buttons span {
  margin-right: 4px;
  cursor: pointer;
}

.new-description {
  margin-top: 16px;
  text-align: center;
}

button {
  margin-right: 2px;
}

.sidebar-row-title {
  height: 30px;
}

.sidebar-row-subrows {
  list-style: none;
  max-height: 200px;
  overflow-y: scroll;
  padding-left: 8px;
  margin: 0;
}

.sidebar-row-subrow {
  cursor: pointer;
}

.sidebar-row-subrow:hover {
  background-color: rgb(226, 226, 226);
}

.search {
  margin-bottom: 16px;
}