<div class="full row">
  <div class="sidebar col-sm-2">
    <div class="sidebar-row search">
      <input class="form-control search-input" type="text" [(ngModel)]="searchText" placeholder="search" (ngModelChange)="searching($event)"/>
    </div>

    <div *ngIf="clusters">
      <div class="sidebar-row-title" (click)="showGroup('clusters')">
        Clusters ({{clusters.length}}) 
        <button class="btn add-button" (click)="newResource('cluster')"><i class="fa fa-plus"></i></button>
      </div>
      <p *ngIf="clusters.length == 0">A cluster is a group of environments, each with custom resource definitions. Click the <b>+</b> to add a new cluster.</p>
      <ul *ngIf="show === 'clusters' || showAll" class="sidebar-row-subrows">
        <li class="sidebar-row-subrow" *ngFor="let item of filter(clusters)" (click)="select('cluster', item)">{{item.name}}</li>
      </ul>
    </div>

    <div *ngIf="environments && clusters && clusters.length > 0">
      <div class="sidebar-row-title" (click)="showGroup('environments')">
        Environments ({{environments.length}})
        <button class="btn add-button" (click)="newResource('environment')"><i class="fa fa-plus"></i></button>
      </div>
      <p *ngIf="environments.length == 0">Environments are places to run executables. Click the <b>+</b> to add a new environment.</p>
      <ul *ngIf="show === 'environments' || showAll" class="sidebar-row-subrows">
        <li class="sidebar-row-subrow" *ngFor="let item of filter(environments)" (click)="select('environment', item)">{{item.name}}</li>
      </ul>
    </div>

    <div *ngIf="images && clusters && clusters.length > 0">
      <div class="sidebar-row-title" (click)="showGroup('images')">
        Images ({{images.length}})
        <button class="btn add-button" (click)="newResource('image')"><i class="fa fa-plus"></i></button>
      </div>
      <p *ngIf="images.length == 0">Images are dependency configurations. Click the <b>+</b> to add a new image.</p>
      <ul *ngIf="show === 'images' || showAll" class="sidebar-row-subrows">
        <li class="sidebar-row-subrow" *ngFor="let item of filter(images)" (click)="select('image', item)">{{item.name}}</li>
      </ul>
    </div>

    <div *ngIf="functions && environments && environments.length > 0">
      <div class="sidebar-row-title" (click)="showGroup('functions')">
        Functions ({{functions.length}}) 
        <button class="btn add-button" (click)="newResource('function')"><i class="fa fa-plus"></i></button>
      </div>
      <p *ngIf="functions.length == 0">Add a function to run some code. Click the <b>+</b> to add a new function.</p>
      <ul *ngIf="show === 'functions'" class="sidebar-row-subrows">
        <li class="sidebar-row-subrow" *ngFor="let item of filter(functions)" (click)="select('function', item)">{{item.name}}</li>
      </ul>
    </div>

    <div *ngIf="queries && environments && environments.length > 0">
      <div class="sidebar-row-title" (click)="showGroup('queries')">
        Queries ({{queries.length}})
        <button class="btn add-button" (click)="newResource('query')"><i class="fa fa-plus"></i></button>
      </div>
      <p *ngIf="queries.length == 0">Build a query to get some data. Click the <b>+</b> to add a new query.</p>
      <ul *ngIf="show === 'queries' || showAll" class="sidebar-row-subrows">
        <li class="sidebar-row-subrow" *ngFor="let item of filter(queries)" (click)="select('query', item)">{{item.name}}</li>
      </ul>
    </div>

    <div *ngIf="graphs && environments && queries && functions && environments.length > 0 && (functions.length > 1 || queries.length > 1 || (functions.length > 0 && queries.length > 0))">
      <div class="sidebar-row-title" (click)="showGroup('graphs')">
        Graphs ({{graphs.length}})
        <button class="btn add-button" (click)="newResource('graph')"><i class="fa fa-plus"></i></button>
      </div>
      <p *ngIf="graphs.length == 0">Run a sequence of functions and queries with a graph. Click the <b>+</b> to add a new graph.</p>
      <ul *ngIf="show === 'graphs' || showAll" class="sidebar-row-subrows">
        <li class="sidebar-row-subrow" *ngFor="let item of filter(graphs)" (click)="select('graph', item)">{{item.name}}</li>
      </ul>
    </div>
  </div>

  <div class="list-section col-sm-10" *ngIf="data">
    <div class="upper">
      <button class="btn btn-danger" (click)="delete()">Delete</button>
      <button class="btn btn-primary" (click)="backwards()"><-</button>
      <button class="btn btn-primary" (click)="forwards()">-></button>
    </div>
    <div class="lower">
      <app-editor 
        *ngIf="data" 
        [data]="data" 
        [clusterOptions]="clusters"
        [environmentOptions]="environments"
        (emitCreateNewExecutable)="receiveNewResourceModalDone($event)"
        (emitSelectExecutable)="receieveSelectExecutable($event)"></app-editor>
    </div>
  </div>
</div>

<div *ngIf="showNewDialog">
  <new-resource-modal
    [type]="showNewDialog" 
    [clusterOptions]="clusters"
    [environmentOptions]="environments"
    [data]="undefined"
    (newResourceMoalDone)="receiveNewResourceModalDone($event)"
    (newResourceModalCancel)="receiveNewResourceModalCancel()"></new-resource-modal>
</div>

