<div class="full row">
  <div class="sidebar col-sm-2">
    <div class="sidebar-row" *ngFor="let col of values(columns)" (click)="select(col.title)">
        <div class="selected selection" *ngIf="selected == col.title">{{col.title}} ({{col.list.length}})</div>
        <div class="selection" *ngIf="selected != col.title">{{col.title}} ({{col.list.length}})</div>
    </div>
    <div class="sidebar-row"><button class="sidebar-row btn btn-primary" [routerLink]="['/editor', iam.getUser().username, selected, '']">New</button></div>
  </div>
  <div class="list-section col-sm-10" *ngIf="columns[selected].list.length > 0">
    <div class="list-item" *ngFor="let item of columns[selected].list" [routerLink]="['/editor', item.username, selected, item.name]">
      <h4>{{item.name}}</h4>
      <p class="description">
        <ngx-md [data]="item.description"></ngx-md>
      </p>
      <button class="btn-sm btn-primary" *ngFor="let steplist of item.steplists" [routerLink]="['/editor', steplist.username, 'pipe', steplist.name]">{{steplist.name}}</button>
    </div>
  </div>
  <div class="list-section col-sm-10" *ngIf="columns[selected].list.length == 0">
    <div class="new-description">
      <h3>Looks like you don't have any {{selected}} yet</h3>
      <p class="description">Click "New" on the left bar to create one!</p>
    </div>
  </div>
</div>

