.sidebar {
  background-color: rgb(165, 165, 165);
  padding: 8px;
}

.sidebar-row {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.selection {
  text-align: center;
  padding: 16px;
}

.selected {
  background-color: rgb(226, 226, 226)
}

.full {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 !important;
}

.list-section {
  overflow-y: scroll;
  height: 100%;
}

.list-item {
  padding: 8px;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  width: 100%;
  margin-top: 8px;
}

.list-item .description {
  color: rgb(160, 160, 160);
}

.new-description {
  margin-top: 16px;
  text-align: center;
}

button {
  margin-right: 2px;
}