<div class="full row">
  <div class="sidebar col-sm-2">
    <div class="sidebar-row search">
      <input class="form-control search-input" type="text" [(ngModel)]="searchText" placeholder="search" (ngModelChange)="searching($event)"/>
    </div>
    <div class="sidebar-row" *ngFor="let col of values(columns)">
      <div class="sidebar-row-title" (click)="hide(col.title)">{{col.title}} ({{col.list.length}})</div>
      <ul class="sidebar-row-subrows" *ngIf="col.hidden || showAll">
        <li class="sidebar-row-subrow" *ngFor="let item of filter(columns[col.title].list)" (click)="select(col.title, item)">{{item.name}}</li>
      </ul>
    </div>
    <div class="sidebar-row-button"><button class="sidebar-row btn btn-success" (click)="newExecutable()">new</button></div>
  </div>

  <div class="list-section col-sm-10" *ngIf="data">
    <div class="upper">
      <button class="btn btn-danger" (click)="delete()">Delete</button>
      <button class="btn btn-primary" (click)="backwards()"><-</button>
      <button class="btn btn-primary" (click)="forwards()">-></button>
    </div>
    <div class="lower">
      <app-editor *ngIf="data" [data]="data" (emitCreateNewExecutable)="receiveCreateExecutable($event)"></app-editor>
    </div>
  </div>
</div>

<div *ngIf="showNewDialog">
  <app-new-executable 
    (emitCreateExecutable)="receiveCreateExecutable($event)"
    (emitCancelCreateExecutable)="receiveCancelCreateExecutable()"
  ></app-new-executable>
</div>

