<div class="full">
  <div class="lower">
    <nested-input 
      *ngIf="data && (data.exe === 'function' || data.exe === 'query' || data.exe === 'graph')" 
      [ngClass]="{'left': data.exe == 'graph' || running != undefined, 'lower-full': data.exe != 'graph' || running == undefined}" 
      [(data)]="data" 
      [editing]="editing"
      [(hidden)]="hidden"
      (emitEditing)="receiveEmitEditing($event)"
      (emitHidden)="receiveEmitHidden($event)"
      (emitRunning)="receiveEmitRunning($event)"
      (emitUpdateData)="receiveUpdateData($event)"
      [showForeach]="data.exe == 'graph'"></nested-input>
    <run 
      class="right" 
      *ngIf="running != undefined" 
      [(running)]="running"
      (emitRunning)="receiveEmitRunning($event)"></run>
    <graph 
      class="right" 
      *ngIf="data && data.exe == 'graph' && running == undefined" 
      [nodes]="data.graph.nodes"
      [links]="data.graph.edges"
      [editing]="editing"
      [cluster]="data.cluster"
      [environment]="data.environment"
      [edgesEditing]="[]"
      [clusterOptions]="clusterOptions"
      [environmentOptions]="environmentOptions"
      (emitEditing)="receiveEmitEditing($event)"
      (emitNewNode)="receiveEmitNewNode($event)"
      (emitNewEdge)="receiveEmitNewEdge($event)"
      (emitDeleteEditing)="receiveDeleteEditing($event)"></graph>
    <cluster
      class="lower-full"
      *ngIf="data && data.exe == 'cluster'"
      [(data)]="data"
      (authorizationUpdated)="receiveUpdateData($event)"
      (addEnvironmentEvent)="receiveAddEnvironmentEvent($event)"
      (emitSelectExecutable)="receiveSelectExecutable($event)"></cluster>
    <environment
      class="lower-full"
      *ngIf="data && data.exe == 'environment'"
      [(data)]="data"
      (newResourceEvent)="receiveNewResourceEvent($event)"
      (selectResourceEvent)="receiveSelectExecutable($event)"></environment>
    <image
      class="lower-full"
      *ngIf="data && data.exe == 'image'"
      [(data)]="data"></image>
    <dataset
      class="lower-full"
      *ngIf="data && data.exe == 'dataset'"
      [(data)]="data"></dataset>
  </div>
</div>
