<div class="full">
  <div class="upper">
    <button class="btn btn-outline-danger" (click)="delete()">delete</button>
  </div>
  <div class="lower">
    <nested-input 
      *ngIf="data" 
      [ngClass]="{'left': data.exe == 'graph' || running != undefined, 'lower-full': data.exe != 'graph' || running == undefined}" 
      [(data)]="data" 
      [editing]="editing"
      [(hidden)]="hidden"
      (emitEditing)="receiveEmitEditing($event)"
      (emitRunning)="receiveEmitRunning($event)"></nested-input>
    <run 
      class="right" 
      *ngIf="running != undefined" 
      [(running)]="running"
      (emitRunning)="receiveEmitRunning($event)"></run>
    <graph 
      class="right" 
      *ngIf="data && data.exe == 'graph' && running == undefined" 
      [data]="data.graph"
      [editing]="editing"
      [edgesEditing]="[]"
      (emitEditing)="receiveEmitEditing($event)"></graph>
  </div>
</div>
