<div class="full">
  <div class="upper">
    <button class="btn btn-danger" (click)="delete()">Delete</button>
  </div>
  <div class="lower">
    <nested-input 
      *ngIf="data" 
      [ngClass]="{'left': data.exe == 'graph' || running != undefined, 'lower-full': data.exe != 'graph' || running == undefined}" 
      [(data)]="data" 
      [editing]="editing"
      [(hidden)]="hidden"
      (emitEditing)="receiveEmitEditing($event)"
      (emitHidden)="receiveEmitHidden($event)"
      (emitRunning)="receiveEmitRunning($event)"
      (emitUpdateData)="receiveUpdateData($event)"
      [showForeach]="data.exe == 'graph'"></nested-input>
    <run 
      class="right" 
      *ngIf="running != undefined" 
      [(running)]="running"
      (emitRunning)="receiveEmitRunning($event)"></run>
    <graph 
      class="right" 
      *ngIf="data && data.exe == 'graph' && running == undefined" 
      [nodes]="data.graph.nodes"
      [links]="data.graph.edges"
      [editing]="editing"
      [edgesEditing]="[]"
      (emitEditing)="receiveEmitEditing($event)"
      (emitNewNode)="receiveEmitNewNode($event)"
      (emitNewEdge)="receiveEmitNewEdge($event)"
      (emitDeleteEditing)="receiveDeleteEditing($event)"></graph>
    <cluster
      class="lower-full"
      *ngIf="data && data.exe == 'cluster'"
      [(data)]="data"
      (authorizationUpdated)="receiveUpdateData($event)"></cluster>
  </div>
</div>
