.full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 !important;
  background-color: #f6f8fa;
}

.upper {
  padding: 2px;
  background-color: transparent;
  height: 40px;
}

.lower {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 !important;
  background-color: #f6f8fa;
}

.lower-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  padding: 8px;
  box-shadow: 0px 5px 6px 1px;
  background-color: #f6f8fa;
}

.left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 30%;
  overflow-y: scroll;
  padding: 8px;
  box-shadow: 0px 5px 6px 1px;
  background-color: #f6f8fa;
}

.right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 70%;
  right: 0;
  overflow-y: scroll;
  padding: 8px;
  box-shadow: 0px 5px 6px 1px;
  background-color: #f6f8fa;
}

.center {
  position: absolute;
  top: 0;
  bottom: 2%;
  left: 5%;
  right: 5%;
  display: inline-block;
  overflow-y: scroll;
  box-shadow: 0px 5px 6px 1px;
  background-color: #f6f8fa;
}